.card-content{

    .card{
        &:hover{
            scale: 1.03;
            transition: .5s;
            box-shadow: 0 0 20px #000 ;
        }
    }

    .sb-prod{
        font-size: 1.4rem;
    }

    .prod__img{

        &:hover{
            scale: 1.05;
            box-shadow: 0 0 14px #fff;
            transition: .4s;
        }
    }


    .prod__img1{
        background-image: url(https://images.unsplash.com/photo-1635235765889-4a8507ca26de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI3fHx1dGVuc2lsaW9zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    }
    .prod__img2{
        background-image: url(https://images.unsplash.com/photo-1470324161839-ce2bb6fa6bc3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fHV0ZW5zaWxpb3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    }
    .prod__img3{
        background-image: url(https://images.unsplash.com/photo-1518291344630-4857135fb581?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dXRlbnNpbGlvc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=600);
    }
    .prod__img4{
        background-image: url(https://images.unsplash.com/photo-1631008788127-57317667a0d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    }
    .prod__img5{
        background-image: url(https://images.unsplash.com/photo-1548594172-09665cd0e236?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=564&q=80);
    }
    .prod__img6{
        background-image: url(https://images.unsplash.com/photo-1557687790-902ede7ab58c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=698&q=80);
    }

}