@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

$fuentePrincipal: 'Ubuntu', sans-serif;
$colorPrincipal: #deb887;
$colorSecundario: #fff;
$colorTerciario: #BA9B72;
$colorFondo: #F0A84A;

%disp-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin md {
    @media screen and (min-width: 768px) {
        @content;        
    }
}

@mixin lg {
    @media screen and (min-width: 1080px) {
        @content;        
    }
}

@mixin xl {
    @media screen and (min-width: 1400px) {
        @content;        
    }
}

@mixin xxl {
    @media screen and (min-width: 1600px) {
        @content;        
    }
}
